@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  /* font-weight: 400; */

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@theme {
  --color-dark: #1c1c1c;
}


@layer utilities {
}

@layer components {
  .navLink {
    @apply text-xl text-amber-300/80 hover:text-amber-500 hover:underline bg-transparent transition-all duration-300;
  }
}


body, html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}